.scroll-container {
  overflow-x: auto;
  white-space: nowrap;
  padding-bottom: 25px;
  scrollbar-width: thin;
  scrollbar-color: #222 #eeeeee1c;
}

.scroll-content {
  display: flex;
  flex-wrap: nowrap;
}

.scroll-content > * {
  flex: 0 0 auto;
}
