.hero1 {
  /* background-image: url("/src/assets/hero.png"); */
  background-image: url("/src/assets/marquee/1.jpg");
  background-size: cover;
  background-position: center;
  height: 40rem;
  margin-top: 86px;
}
