.marquee {
  display: flex;
  align-items: center;
  overflow: hidden;
  gap: 5px;
  margin-bottom: -80px;
  margin-top: 90px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.marquee-item {
  width: 200px;
  height: 200px;
  overflow: hidden;
}
.img1 {
  transform: rotate(-5deg) translateY(-10px);
}

.img2 {
  transform: rotate(3deg) translateY(5px);
}

.img3 {
  transform: rotate(-3deg) translateY(15px);
}
